body{
    background-image: linear-gradient( #1f3b4d,#36596e,  #d6f1f0);
}
main{
    margin: 30px;
    display:flex;
    justify-content: center;
}
.quadro{
    width: 900px;
    height: 600px;
    display: flex;
    background-color: white;
   
}
.foto{
    height: 600px;
    width: 50%;
}
#foto{
    height: 600px;
}
.login{
    display:flex;
    flex-direction: column;
    height: 600px;
    width: 50%;
    background-color: #017374 ;
}
#logo{
    margin-top: 70px;
    height: 100px;
}
.input{
    all: unset;
    color:#D0FEFE;
    width: 300px;
    height: 40px;
    background: #1c4758;
    border-radius:5px;
    margin-left: 70px;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
  }
  #recuperacao{
    margin-top:8px ;
    margin-left: 280px;
    font-size: 10px;
    color: #D0FEFE
  }
  #registro{
    font-size: 12px;
    color: #D0FEFE;
    margin-top: 15px;
    
}
  #btn-login{
    margin-left: 20px;
    width: 100px;
    height: 30px;
    background: #D0FEFE;
    color: #017374;
    border-radius:5px;
    border-color: transparent;
    margin-top: 20px;
    font-size: 16px;
  }
  .btn-login{
    margin-left: 200px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #img-r{
      margin-top: 15px;
      width: 300px;
  }
  .img-r{
      display: flex;
      flex-direction: column;
      align-items: center;
  }